<script lang="ts" setup></script>
<template>
  <iframe src="https://giphy.com/embed/SYo1DFS8NLhhqzzjMU" width="480" height="370" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</template>

<style lang="scss" scoped>
iframe {
  pointer-events: none;
}
</style>
