<script lang="ts" setup>
import { reactive } from "vue";
import PRIMO_IMG from "~/assets/primo.png";
import BearGif from "~/components/BearGif.vue";

const state = reactive({
  showPrimo: false,
  btnHeight: 50,
  btnWidth: 200,
  btnFontSize: 16,
});

const handleShowPrimo = () => {
  state.showPrimo = true;
};

const increaseButtonHeight = () => {
  state.btnHeight = state.btnHeight + 20;
  state.btnWidth = state.btnWidth + 20;
  state.btnFontSize = state.btnFontSize + 3;
};
</script>

<template>
  <div class="h-screen w-screen flex flex-col gap-8 justify-center items-center px-5" v-if="!state.showPrimo">
    <div class="mb-10">
      <BearGif />
    </div>

    <h1 class="text-[48px] text-red-400 text-center title">Thank you for everything, I love you so much!</h1>

    <div class="inline">
      <button
        type="button"
        class="text-white py-3 px-4 rounded-md bg-purple-600 mx-2"
        @click="handleShowPrimo"
        :style="`height: ${state.btnHeight}px; width: ${state.btnWidth}px;`"
      >
        <span :style="`font-size: ${state.btnFontSize}px;`"> Click for surprise! </span>
      </button>
      <button type="button" class="text-white py-3 px-4 mx-2 rounded-md bg-red-600" @click="increaseButtonHeight">No, I don't want</button>
    </div>
  </div>

  <div class="h-screen w-screen flex flex-col justify-center items-center" v-else>
    <img :src="PRIMO_IMG" class="mb-5" />
    <h1 class="text-[48px] text-red-400 text-center title">Bulaga! I love you mommy!!!</h1>
  </div>
</template>

<style lang="scss">
body {
  background-color: #fcfcfc;
}

.title {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
</style>
